/*General*/
html {
  font-family: sans-serif;
  font-size: 10px;
  color: #000;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;

  box-sizing: border-box;
}

li {
  list-style-type: none;
}

/*Main*/

main {
  background-image: linear-gradient(to bottom, #fff 80%, #F5F5F5 100%);
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  padding: 0.8rem 1.6rem;

  border: 0;
  border-radius: 0.2rem;
  
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-decoration: none;
  transition: background 0.2s linear;

  cursor: pointer;
  }

    .btn__primary  {
        background-color: #1890ff;
        border: 1px solid #1890FF;

        color: #fff;
    }

    .btn__primary:hover {
        background-color: #0e65b7;
    }

    .btn__outline {
        background-color: #fff;
        border: 1px solid rgb(217, 217, 217);
        
        color: #595959;
    }

    .btn__cart--goods {
        background-color: #1890ff;
        border: 1px solid #1890FF;

        color: #fff;
    }

    .btn__cart--goods:hover {
        background-color: #0e65b7;
    }

    .btn__outline:hover {
        background-color: #ddd;
    }
    /*  */

.main__promo {
  width: 100%;
  height: 100%;
  padding:  6.8rem 7.1rem;
  margin-bottom: 5.6rem;

  background-image: url("../assets/images/other/promo.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: #302C34;
  font-weight: 400;
}
.promo__about {
  max-width: 53rem;
}
.main__header {
  margin-bottom: 1.5rem;
  
  font-size: 3.9rem;
  font-weight: 700;
  line-height: 4.6rem;
  text-align: left;
}
.main__text {
  font-size: 2.4rem;
  line-height: 2.8rem;
}

.delivery__about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;

  margin-bottom: 4.4rem;
}


.delivery__title {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.2rem;
  color: #000;
}

.search__form {
  position: relative;
}

.search__input {
  width: 30rem;
  padding: 0.5rem 1.2rem 0.5rem 3.2rem;

  border: 1px solid rgb(217, 217, 217);
border-radius: 2px;
  font-size: 1.6rem;

  outline: none;
}

.search__input::placeholder {
  color: #bfbfbf;
}

.search__link {
  position: absolute;
  top: 0.7rem;
  left: 1rem;
  z-index: 1;
}

/*restaraunt*/
.delivery__restaraunts {
  display: flex;
  justify-content: center;
  gap: 1.3rem;
  flex-wrap: wrap;
  padding-bottom: 6rem;
  text-decoration: none;
  cursor: pointer;
}

.restaraunt {
  max-width: 38.4rem;
  height: 38rem;

  border-radius: 0.7rem;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);

  text-decoration: none;
  color: #000000;

  cursor: pointer;
  transition: all 0.2s linear;
}
.restaraunt:hover {
  transform: scale(1.05);
}

.restaraunt__image {
  width: 100%;
  height: 25rem;

  margin-bottom: 2rem;
}
.restaraunt__about {
  padding: 0 2.4rem 3.5rem;
}
.restaraunt__info {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1rem;
}
.restaraunt__title {
  font-size: 2.4rem;
  font-weight: 700;

}
.info-black {
  display: flex;
  align-items: center;
  padding: 0.1rem 0.8rem;

  background-color: #000;
  border-radius: 0.2rem;


  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}
.raiting {
  display: flex;
 
}

.rank {
  margin: 0 2.6rem 0 0.75rem;
  font-size: 1.8rem;
  color: #FFC107;
}
.price {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  color: #8C8C8C;
}
.dot {
  margin: 0 1rem;
}

.cost {
  margin-left: 0.5rem;
}
.star_img {
  margin-bottom: 0.3rem;
}


/* Goods */
.restaraunt__info--goods {
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;

  margin-bottom: 4rem;

}

.restaraunt__title--goods {
  font-size: 3.6rem;
}

.goods {
  display: flex;
  justify-content: center;
  gap: 1.4rem;

  flex-wrap: wrap;

  padding-bottom: 11.2rem;
}

.good {
	max-width: 38.4rem;
	height: 41.4rem;
	border-radius: 0.7rem;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);

	transition: all 0.2s linear;
}

.good__about {
	margin-bottom: 2.5rem;
}

.good__info {
	padding:  0 2.4rem;
}
.good__image {
	width: 100%;
	height: 21.2rem;

	margin-bottom: 2.5rem;
}

.good__buy {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.good__title {
  margin-bottom: 1rem;

  font-size: 2.4rem;
  font-weight: 400;

}

.good__about {
  font-size: 1.8rem;
  font-weight: 400;
  color: #8c8c8c;
}
