@import "@/assets/styles/_variables.scss";
@import "@/assets/styles/_media.scss";
@import "@/assets/styles/_mixins.scss";

html {
	font-family: sans-serif;
	font-size: 10px;
	color: $black-color;
}

/* Для WebKit-браузеров (Chrome, Safari) */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: $gray-bg-color;
}

::-webkit-scrollbar-thumb {
	background-color: $black-color;
	border-radius: 5px;
}

/* Для Firefox*/
body {
	scrollbar-color: $black-color $gray-bg-color; /* Цвет бегунка и дорожки */
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}


.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;

	box-sizing: border-box;
}

.title {
	font-size: 3.6rem;
	font-weight: 700;
	line-height: 4.2rem;
	color: $black-color;

	@include mobile {
		font-size: 2.7rem;
		line-height: 3.4rem;
	}
}

li {
	list-style-type: none;
}

/*Main*/
main {
	background-image: linear-gradient(to bottom, $white-color 80%, $gray-gradient 100%);
}

.btn {
	display: flex;
	align-items: center;
	gap: 0.4rem;

	padding: 0.8rem 1.6rem;

	border: 0;
	border-radius: 0.2rem;
	
	font-size: 1.6rem;
	line-height: 1.6rem;
	text-decoration: none;

	transition: background 0.1s linear;

	cursor: pointer;

	@include mobile {
        padding: 0.5rem 1rem;

		font-size: 1.4rem;
    }
}

.btn__primary  {
	background-color: $black-color;
	border: 1px solid $black-color;

	color: $white-color;

	transition: 0.2s all linear;
}

.btn__primary:hover {
	background-color: $dark-blue-color;
}

.btn__outline {
	background-color: $white-color;
	border: 1px solid $gray-text-color;
	
	color: $gray-text-color;

	transition: 0.2s all linear;
}

.btn__outline:hover {
	background-color: $dark-blue-color;
	border: 1px solid $black-color;

}


.no-scroll {
	overflow: hidden;
	height: 100%;
}

//raiting
.rank {
    margin: 0 2.6rem 0 0.75rem;

    font-size: 1.8rem;
    color: $orange-color;

	@include mobile {
		font-size: 1.5rem;
	}
}
.price {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: $gray-text-color;

	@include mobile {
		font-size: 1.5rem;
	}
}
.dot {
    margin: 0 1rem;

	@include mobile {
		margin: 0 0.4rem;
	}
}

.cost {
    margin-left: 0.5rem;
}
.star_img {
    margin-bottom: 0.3rem;
}

.price--blue {
	padding: 0.8rem 1.6rem;
	background-color: $blue-color;
	text-align: center;
	font-size: 1.6rem;
	font-weight: 400;
	color: $white-color;

	@include mobile {
		padding: 0.5rem 1rem;
	}
}