@media (max-width: 720px) {
    .main__header {
        text-align: center;

        font-size: 3.5rem;

        line-height: 4rem;
    }
    .main__text {
        text-align: center;
    }

    .footer__links {
        justify-content: center;

        margin-bottom: 2rem;
    }
    .footer_content {
        justify-content: center !important; 
    }
}

@media (max-width: 540px) {

}

@media (max-width: 465px) {
    .modal__footer {
        justify-content: center !important; 
    }
}