// colors
$blue-color: #1890ff;
$dark-blue-color: #0e65b7;
$gray-bg-color: #ddd;
$black-promo-color: #302C34;
$gray-text-color: #8C8C8C;
$black-color: #000;
$white-color: #fff;
$gray-underline: #D9D9D9;
$gray-gradient: #F5F5F5;
$gray-color--link: #595959;
$orange-color: #FFC107;
//media
$mobile-width: 540px;
$tablet-width: 720px;
